<div class="form-group" style="padding:10px">
    <% @user.items.each do |item| %>
        <ul>
            <li>
                <%= item.name %> - <%= link_to "", user_item_url(@item, @user), method: :delete, class: 'glyphicon glyphicon-ok' %>
            </li>
        </ul>    
    <% end %>
</div>