<div class="form-group" style="padding:10px">
    <% @user.items.each do |item| %>
        <ul>
            <li>
                <%= item.name %>
            </li>
        </ul>    
    <% end %>
</div>